.card {
    border: 2px solid black;
    border-radius: 3px;
    margin: 10px 0;
    height: 100px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 1100px;
    background: white;
    cursor: pointer;
    transition: 200ms;
}

.img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 3px;
}

.name {
    font-size: 25px;
    margin-top: 12px;
}

.card:hover {
    background: #f1f1f1;
}
