.navigation {
    border-bottom: 2px solid black;
    padding: 15px;
}

body {
    font-family: Manjari, sans-serif;
}

.AddContact {
    float: right;
    font-size: 25px;
    margin-top: 5px;
    color: black;
    text-decoration: none;
    margin-right: 20.5%;
}

.Header {
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-left: 20%;
}

.container {
    display: flex;
    justify-content: center;
}

.container-inner {
    width: 1200px;
}

.Header:hover {
    text-decoration: underline;
}

.AddContact:hover {
    text-decoration: underline;
}